@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for exercise section */
.exercise-scroll::-webkit-scrollbar {
  width: 6px;
}

.exercise-scroll::-webkit-scrollbar-track {
  background: rgba(119, 119, 119, 1);
  border-radius: 8px;
}

.exercise-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 204, 33, 1);
  border-radius: 8px;
}
