@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face for Hiragino Kaku Gothic Pro */
@font-face {
  font-family: "Hiragino Kaku Gothic Pro";
  src: url("./fonts/Hiragino Kaku Gothic Pro W3.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Custom scrollbar for exercise section */
.exercise-scroll::-webkit-scrollbar {
  width: 6px;
}

.exercise-scroll::-webkit-scrollbar-track {
  background: rgba(119, 119, 119, 1);
  border-radius: 8px;
}

.exercise-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 204, 33, 1);
  border-radius: 8px;
}
